@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

:hover {
  transition: all 300ms ease;
}

body {
  font-family: "Palanquin", sans-serif;
  color: #363534;
}

body.no-scroll {
  overflow: hidden;
}

.close_dialog {
  position: absolute;
  right: 10%;
  top: 10%;
  background: none;
  border: 0px;
  color: #fff;
}

.close_dialog:hover {
  color: #e76c1f;
  cursor: pointer;
}

.close_dialog:active {
  background-color: #fff;
  border-radius: 5px;
}

p {
  line-height: 1.3em;
}

.header_intro {
  position: relative;
  margin: 0 auto;
}

.header-content {
  background-color: #e76c1f;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 5%;
}

.logo {
  width: 92px;
}

.mobile-nav {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*Basket styles*/
.basket_cart {
  width: 120px;
  height: 120px;
  padding: 30px;
}

#no_items_basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 8px;
}

.basket_wrapper {
  background-color: #363534;
  padding: 40px;
  color: #fdeadc;
  width: 250px;
  margin-top: 45px;
  border-radius: 25px 0 0 25px;
  position: sticky;
  top: 0px;
  left: 0;
  min-height: 400px;
}

.basket_title {
  text-align: center;
  font-size: 32px;
}

#basket {
  position: sticky;
  top: 0;
}

.basket_inner::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  scrollbar-color: black;
}

.basket_inner::-webkit-scrollbar-thumb {
  background-color: #e7c3ad;
  border-radius: 10px;
}

.basket_numbers {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.basket_inner {
  max-height: 300px;
  overflow-y: auto;
  margin: 0px 0 20px 0;
}

/*Basket styles Ende*/

.bar {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

.burgerhouse-icon {
  width: 180px;
  border-radius: 100%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  bottom: -140px;
}

h1,
h1 .orange {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

.rest_info {
  text-align: center;
  padding: 50px 20px 30px 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.star {
  width: 18px;
}

.menu {
  max-width: 1440px;
  padding: 5%;
}

.headline_section {
  background-color: #e76c1f;
  padding: 0px;
  margin: 45px 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
}

.headline_icon {
  margin-top: -40px;
}

h2 {
  color: #fff;
  display: flex;
  gap: 20px;
  font-size: 32px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10%;
}

.title_section {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.reviews {
  background-color: #facaac;
  padding: 1px 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.food_card {
  display: flex;
  background-color: #fdeadc;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  width: 630px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.food_card img {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.food_description {
  width: 300px;
}

.food_info {
  display: flex;
  gap: 10px;
}

.buy_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.orange {
  color: #e76c1f;
  font-weight: 700;
}

.buy_area p {
  font-weight: 800;
}

.add {
  border-radius: 20px;
  background-color: #fff;
  border: none;
  padding: 5px 8px;
}

.add:hover {
  color: #e76c1f;
  cursor: pointer;
}

.add:active {
  color: #fff;
  background-color: #e76c1f;
  cursor: pointer;
}

.content_wrapper {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1440px;
}

.content {
  position: relative;
}

h4 {
  line-height: 1.1em;
  padding-bottom: 5px;
  text-align: left;
}

#salad_menu,
#burger_menu,
#pizza_menu {
  padding: 20% 10% 5% 10%;
  max-width: 1440px;
  margin: 0 auto;
}

.total {
  margin: 10px 0 0 0;
  border-top: 3px solid #fff;
}

#buy_items {
  display: block;
  margin: 20px auto;
  border-radius: 60px;
  padding: 13px 55px;
  background-color: #e76c1f;
  border: none;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

.total_number {
  font-size: 18px;
}

.h2_wrapper {
  padding: 0 10%;
}

#buy_items:hover {
  background-color: #c85d1b;
}

#buy_items:active,
.buy:active {
  background-color: #7e3a0f;
}

.item {
  background-color: #fdeadc;
  color: #000;
  border-radius: 10px;
  margin: 10px 10px 0 0;
  padding: 10px;
  position: relative;
}
.delete {
  width: 15px;
}

.delete_absolute {
  position: absolute;
  top: 10px;
  right: 10px;
}

.food_card_icon,
.food_card_icon_minus {
  width: 10px;
  height: 20px;
}

.add_item {
  background-color: #fdeadc;
  border: none;
  padding: 0;
  padding-block: 0px;
}

.add_item:hover {
  color: #e76c1f;
  cursor: pointer;
}

.delete:hover,
.food_card_icon:hover,
.food_card_icon_minus:hover {
  filter: brightness(0) saturate(100%) invert(52%) sepia(29%) saturate(7287%)
    hue-rotate(354deg) brightness(97%) contrast(85%);
  cursor: pointer;
}

.truck {
  width: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

#my_modal {
  margin: auto auto;
  background-color: #363534;
  color: #fdeadc;
  width: 200px;
  padding: 32px 40px;
  border-radius: 30px;
  border: none;
  text-align: center;
}

.modal_headline {
  font-size: 22px;
}

#my_modal::backdrop {
  background-color: rgba(69, 68, 68, 0.4);
}

footer {
  display: flex;
  padding: 32px 0;
  background-color: #e76c1f;
  color: #fff;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 1080px) {
  .food_info {
    flex-direction: column;
  }

  .title_section {
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column-reverse;
  }

  .food_card {
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
  }
  .food_card img {
    width: inherit;
  }

  .food_info {
    width: 100%;
  }

  h2 {
    color: #fff;
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header {
    width: 90%;
    object-fit: cover;
    margin: 5%;
    border-radius: 15px;
  }

  .burgerhouse-icon {
    width: 120px;
    height: 120px;
    bottom: -80px;
  }

  .mobile_basket_wrapper {
    position: relative;
  }

  .mobile-nav {
    display: inherit;
    background-color: #363534;
    display: flex;
    padding: 20px 10px;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    align-items: center;
  }

  .buy_area {
    align-items: flex-start;
    gap: 10px;
  }

  #item_counter_mobile {
    color: #e76c1f;
    background-color: #fdeadc;
    position: absolute;
    padding: 0px 6px 2px 6px;
    right: -6px;
    top: -5px;
    border-radius: 100%;
    text-align: center;
  }

  .buy_area p {
    font-weight: 800;
  }

  .headline_section {
    margin-top: 20px;
    width: inherit;
    position: inherit;
  }

  #salad_menu, #burger_menu, #pizza_menu {
    padding: 3% 10%;
}

  .content_wrapper {
    display: inherit;
  }

  .basket_wrapper {
    background-color: #363534;
    border-radius: 0px;
    padding: 20px;
    text-align: center;
    color: #fdeadc;
    width: inherit;
    margin-top: 0px;
    width: inherit;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0px;
    transition: all 250ms ease-in-out;
    height: 100vh;
  }

  .closed_basket {
    transform: translateY(100%);
  }

  #mobile_basket {
    position: relative;
    padding: 5px;
    border-radius: 10px;
  }

  .mobile_open_basket {
    background-color: #e76c1f;
  }

  

  #item_number {
    color: #e76c1f;
    position: absolute;
    border-radius: 30px;
    top: 15px;
    padding: 2px;
    right: 65px;
    background-color: #fdeadc;
  }

  .food_description {
    width: inherit;
  }

  footer {
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 2000px) {
  .h2_wrapper {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 10%;
  }
}
