* {
  scroll-behavior: smooth;
  margin: 0;
  font-size: 16px;
}

button:hover{
  cursor: pointer;
}

:hover{
  transition: all 600ms ease;
}

body {
  font-family: "Palanquin", sans-serif;
  color: #363534;
}

body.no-scroll {
  overflow: hidden;
}

.close_dialog{
  position: absolute;
  right: 10%;
  top: 10%;
  background: none;
  border: 0px;
  color: #fff;
}

.close_dialog:hover{
  color: #e76c1f;
}


p {
  line-height: 1.3em;
}

h2 {
  font-size: 32px;
}

.header_intro {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5% 20px 5%;
  position: relative;
}

.header-content {
  background-color: #e76c1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 5%;
}

.logo {
  width: 92px;
}

.mobile-nav {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.orange {
  color: #e76c1f;
}

.header {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bar {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

.burgerhouse-icon {
  width: 180px;
  border-radius: 100%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  bottom: -140px;
}

h1 {
  text-align: center;
}

.rest_info {
  text-align: center;
  padding:50px 20px 30px 20px;
  max-width: 1440px;
}
.star {
  width: 18px;
}

.menu {
  max-width: 1440px;
  padding: 5%;
}

.headline_section {
  background-color: #e76c1f;
  padding: 0 10%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 60px;
  margin: 45px 0;
}

h2 {
  color: #fff;
}

.title_section {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.reviews {
  background-color: #facaac;
  padding: 1px 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.food_card {
  display: flex;
  background-color: #fdeadc;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  width: 630px;
  justify-content: space-between;
  margin: 20px 0;
}

.food_card img {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.food_description{
  width: 300px;
}

.food_info {
  display: flex;
  gap: 10px;
}

.buy_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.buy_area p{
font-weight: 800;
}

.buy {
  border-radius: 20px;
  background-color: #fff;
  border: none;
  padding: 5px 8px;
}

.buy:hover {
  background-color: #e76c1f;
  color: #fff;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  flex: 1;
}

.basket_wrapper {
  background-color: #363534;
  padding: 3%;
  text-align: center;
  color: #fdeadc;
  width: clamp(100px, calc(41.463px + 18.293vw), 250px);
  margin-top: 45px;
  height: 100vh;
  position: sticky;
  top: 0px;
}


h4{
  line-height: 1.1em;
  padding-bottom: 5px;
}

.basket_inner{
  max-height: 300px;
  overflow-y: auto;
  margin: 0px 0 20px 0;
}

#basket {
  position: sticky;
  top: 0;
}

.basket_inner::-webkit-scrollbar {
  width: 3px;
  scrollbar-color: black;
}

.basket_inner::-webkit-scrollbar-thumb {
  background-color: #e76c1f;
  border-radius: 10‚px;
}

#salad_menu,
#menu,
#pizza_menu {
  padding: 0 10%;
}

#buy_items {
  border-radius: 60px;
  padding: 15px 30px;
  background-color: #e76c1f;
  border: none;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

#buy_items:hover {
  background-color: #fff;
  color: #e76c1f;
}



.item {
  background-color: #fdeadc;
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}
.delete {
  width: 15px;
}

.add_item {
  background-color: #fdeadc;
  border: none;
  padding: 0;
  padding-block: 0px;
}

.basket_numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.add_item:hover {
  color: #e76c1f;
}

.delete:hover {
  filter: brightness(0) saturate(100%) invert(52%) sepia(29%) saturate(7287%)
    hue-rotate(354deg) brightness(97%) contrast(85%);
}

.truck {
  width: 50px;
}

#my_modal {
  margin: auto auto;
  background-color: #363534;
  color: #fdeadc;
  padding: 32px 40px;
  border-radius: 30px;
  border: none;
}

#my_modal::backdrop {
  background-color: rgba(69, 68, 68, 0.4);
}

footer {
  display: flex;
  padding: 32px 0;
  background-color: #e76c1f;
  color: #fff;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 1080px) {
  .food_info {
    flex-direction: column;
  }

  .food_card {
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
  }
  .food_card img {
    width: inherit;
  }

  .food_info {
    width: 100%;
  }

  .header {
    width: 90%;
    object-fit: cover;
    margin: 5%;
    border-radius: 15px;
  }

  .burgerhouse-icon {
    width: 120px;
    height: 120px;
    bottom: -80px;
  }

  .mobile-nav {
    display: inherit;
    background-color: #363534;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
  }

  .buy_area {
    align-items: flex-start;
    gap: 10px;
  }

  .buy_area p{
    font-weight: 800;
  }

  .headline_section {
    width: inherit;
  }

  .content_wrapper {
    display: inherit;
  }

  .basket_wrapper {
    background-color: #363534;
    border-radius: 0px;
    padding: 0 3%;
    text-align: center;
    color: #fdeadc;
    width: inherit;
    margin-top: 0px;
    width: inherit;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0px;
    transition: all 250ms ease-in-out;
  }

  .closed_basket {
    transform: translateY(100%);
  }

  #mobile_basket {
    position: relative;
  }



  #item_number {
    color: #e76c1f;
    position: absolute;
    border-radius: 30px;
    top: 15px;
    padding: 2px;
    right: 65px;
    background-color: #fdeadc;
  }

  .food_description{
    width: inherit;
  }

  footer {
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .header-content {
    padding: 25px 5%;
  }
}
